<h2>Edit Scientist<h2>

<%= form_for @scientist do |f| %>
    <p><strong><%= f.label "Name:" %>
    <%= f.text_field :name %></p>
    <p><strong><%= f.label "Field of Study:" %>
    <%= f.text_field :field_of_study %></p>
    <%= f.submit %>
<% end %>
